# SQL Learning Activities

Complete all the tasks below in a Jupyter notebook using a mixture of Python and SQL.

**1)** Create a SQL database called **email_addresses** that contains a table called **names** with the following data:

| ID | FirstName | Surname   | Email                  |
|----|-----------|-----------|------------------------|
| 1  | Mark      | Campbell  | markcampbell@ada.ac.uk |
| 2  | Steve     | Rich      | steve@ada.ac.uk        |
| 3  | Ian       | Dickerson | ian@ada.ac.uk          |
| 4  | Vicky     | Clarke    | vicky@ada.ac.uk        |
| 5  | Stuart    | Noss      | stuart@ada.ac.uk       |

In [4]:
# Answer to question 1 here
import sqlite3
with sqlite3.connect("email_addresses") as db:
    cursor = db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS email_addresses(ID integer PRIMARY KEY, 
FirstName text NOT NULL, Surname text NOT NULL, email text);""")
newID = input("Enter unique ID number: ")
newName = input("Enter the First name: ")
newSurname = input("Enter the Surname: ")
newEmail = input("Enter the Email: ")
cursor.execute(("""INSERT INTO pet VALUES(?,?,?,?)"""),(newID, newName, newSurname, newEmail))
db.commit()

Enter unique ID number: 1
Enter the First name: Mark
Enter the Surname: Campbell
Enter the Email: markcampbell@ada.ac.uk

**2)** Create a new SQL database called BookInfo that will store a list of authors and the books they wrtoe. It will have two tables. The first one should be called **authors** and contain the following data:

| Name                | BirthPlace     |
|---------------------|----------------|
| HP Lovecraft        | Providence     |
| Ramsey Campbell     | Liverpool      |
| August Derleth      | Sauk City      |
| Robert A.W. Lowndes | Rhode Island   |

The second one should be called **books** and contain the following data:

| ID | Title                           | Author              | YearPublished  |
|----|---------------------------------|---------------------|----------------|
| 1  | Call of Cthulhu                 | HP Lovecraft        | 1928           |
| 2  | The Last Voice They Hear        | Ramsey Campbell     | 1998           |
| 3  | Believer's World                | Robert A.W. Lowndes | 1961           |
| 4  | The Case of Charles Dexter Ward | HP Lovecraft        | 1941           |
| 5  | Something Near                  | August Derleth      | 1945           |
| 6  | Lonesome Places                 | August Derleth      | 1962           |
| 7  | From Beyond                     | HP Lovecraft        | 1934           |
| 8  | Dwellers in Darkness            | August Derleth      | 1976           |
| 9  | The Long Lost                   | Ramsey Campbell     | 1983           |
| 10 | The Duplicated Man              | Robert A.W. Lowndes | 1959           |
| 11 | The Tomb                        | HP Lovecraft        | 1922           |
| 12 | The Claw                        | Ramsey Campbell     | 1983           |

In [1]:
# Answer to question 2 here
import sqlite3
with sqlite3.connect("BookInfo") as db:
    cursor = db.cursor()

In [ ]:
newauthor= input("enter the name of the author")
newbp = input("the place the author was born")
newauthor = input("enter the name of the author")
cursor.execute(("""INSERT INTO authors VALUES(?,?)"""),( newauthor, newbp))
db.commit()

In [2]:
newID = input("Enter unique ID number of the book : ")
newtitle = input("enter the title")
newyear =input("enter the year the book was made")
cursor.execute(("""INSERT INTO books VALUES(?,?,?)"""),(newID, newtitle, newyear))
db.commit()

Enter unique ID number of the book : 34
enter the titleThe Claw
enter the year the book was made1983

**3)** Using the BookInfo database from question 2 above, display the list of authors and their place of birth. Ask the user to enter a place of birth and then show the title, date published and author's name for all the books by authors who were born in the location they selected.

In [3]:
## Answer to question 3 here
pb = input("where was the author born? ")
cursor.execute("SELECT * from authors where 'Place of Birth'=?",[pb])
for x in cursor.fetchall():
    print(x)

where was the author born? 1

## **4)** Using the BookInfo database, ask the user to enter a year and display all the books published after that year, sorted by the year they were published.

In [ ]:
# Answer to question 4 here

In [6]:
year = input("what year do you want")
cursor.execute("SELECT * from books where Yearpublished=?",[year])
for x in cursor.fetchall():
    print(x)

what year do you want1983
(34, 'The Claw', 1983)